.wrapper {
    padding: 0 16px;
    margin-top: 40px;
    position: fixed;
    width: calc(25% - 20px);
}

.selected-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-all {
    white-space: nowrap;
    margin: 0 !important;
}

.products-container {
    padding: 8px 0px;
    margin-top: 12px;
    overflow: overlay;
    max-height: 440px;

    .product {
        padding: 16px;
        border-radius: 10px;
        box-shadow: 0px 5px 5px rgb(0 0 0 / 12%);
        border: 2px solid rgb(60, 196, 135, 0.7);

        .product-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-clamp: 2;
            padding-right: 8px;
        }
    }

    .product + .product {
        margin-top: 12px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: start;

        .product-note {
            font-size: 1.4rem;
            color: #fffd3c;
        }

        .interaction {
            display: flex;
            align-items: center;
            gap: 12px;

            .add-note-btn {
                color: var(--text-color);
                font-size: 1.5rem;
            }

            > * {
                cursor: pointer;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .quantity-container {
            display: flex;
            align-items: center;
        }

        .subtract,
        .quantity,
        .add {
            cursor: pointer;
            border: 1px solid #00b3bd;
        }

        .quantity {
            height: 20px;
            padding: 0 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fffd3c;
            font-size: 1.4rem;
        }

        .subtract,
        .add {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }
    }
}

.popper-wrapper {
    width: 100vw !important;
    height: 100vh;
    max-width: unset !important;
    max-height: unset !important;
    display: flex;
    justify-content: center;
    position: relative;
}

.add-note-wrapper {
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 20px;
    padding-left: 80px;
    display: flex;

    .close-note-modal {
        position: absolute;
        top: 15px;
        left: 30px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: rgba($color: #000000, $alpha: 0.1);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .product-img-container {
        flex-basis: 400px;
        position: relative;

        .product-img {
            width: 100%;
            aspect-ratio: 9/16;
            min-width: 400px;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }

    .interaction-container {
        flex: 1;
        padding: 10px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .note-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .price {
                font-size: 1.6rem;
                color: #fffd3c;
                font-weight: 500;
            }
        }

        .note {
            width: 100%;
            padding: 16px 12px;
            color: var(--text-color);
            border-radius: 10px;
            border: 1px solid #00b3bd;

            &::placeholder {
                color: #bdbdbd;
            }
        }

        .interaction {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
        }
    }
}

.order-btn {
    width: 100%;
    margin-top: 8px;
    padding: 12px 0 !important;
}

.no-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 12px 0;
    border: 2px solid #00b3bd;
    border-radius: 17px;
    box-shadow: 5px 5px 10px #00757b, -5px -5px 10px #006c7200;
    margin-top: 24px;
    padding: 16px;

    .cart-icon {
        font-size: 10rem;
        color: #fff;
    }

    .no-product-title {
        font-weight: 500;
        font-size: 2.2rem;
    }
}

@media (max-width: 739px) {
    .popper-wrapper {
        padding: 0 !important;
        justify-content: unset;
    }

    .product-img {
        width: 100vw !important;
        min-width: unset !important;
        aspect-ratio: 1 / 1 !important;
        object-fit: cover;
        max-height: calc(100vh - 200px);
    }

    .add-note-wrapper {
        padding: 0;
        flex-wrap: wrap;
    }

    .interaction-container,
    .interaction {
        margin-top: 20px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        width: calc(40% - 20px);
    }
}

@media (max-width: 1113px) {
    .wrapper {
        width: calc(42% - 20px);
    }
}
