.search {
    padding: 4px 12px;
    padding-right: 0;
    border-radius: 92px;
    background-color: rgba(22, 24, 35, 0.1);
    height: 46px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #54a38d;
}

.search-icon {
    color: #fff;
    padding-right: 10px;
    padding-left: 4px;
}

.input {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 8px;

    &::placeholder {
        color: #d0d0d0;
    }
}

@media (max-width: 739px) {
    .search-icon {
        display: none;
    }
}
