.wrapper {
    height: var(--default-layout-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: var(--default-border-shadow);
    background: var(--default-background-color-modal);
    z-index: 10;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.row {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.logo {
    width: 120px;
}

.menu-btn {
    color: #fff;
    font-size: 2rem;
    padding: 8px;
    cursor: pointer;
}

.header-right {
    .header-right-row {
        justify-content: flex-end;
    }
    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        margin-left: 12px;
    }
    .search-btn {
        color: #fff;
        font-size: 1.8rem;
        cursor: pointer;
    }
}

@media (max-width: 739px) {
    .header-right-btn {
        display: none;
    }

    .login-btn {
        display: none;
    }
}
